/* Comment section */
.comment-section {
    margin-top: 20px;
    /* border-top: 1px solid #ddd; */
    padding-top: 30px;
    background-color: #fdfdfd;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }
  
  .comment-section h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .comment-section p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .comment-form {
    max-width: 700px;
    margin-top: 20px;
    padding: 20px;
  
  }
  
  .comment-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .comment-group label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
  }
  
  .comment-input,
  .comment-textarea {
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .comment-textarea {
    resize: vertical;
  }
  
  .comment-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .comment-row .comment-group {
    flex: 1 1 48%;
  }
  
  .comment-submit-button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .comment-submit-button:hover {
    background-color: #0056b3;
  }