.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.reset-password-box {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

.reset-divider {
    width: 90px;
    height: 4px;
    background: #007bff;
    margin: 0 auto 20px;
    border-radius: 5px;
}

.reset-error-message {
    color: red;
    font-size: 14px;
    margin-top: 3px; /* Reduced space from the top of the error message */
    margin-bottom: 0; /* Removed extra bottom margin */
}

.reset-password-form .reset-form-group {
    margin-bottom: 5px;
    position: relative;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icon {
    position: absolute;
    left: 10px;
    top: 18px;
    transform: translateY(-50%);
    color: #666;
}

.reset-input-field {
    width: 100%;
    padding: 10px 35px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    box-sizing: border-box; /* Added box-sizing to include padding in total width */
}

.reset-input-field:focus {
    border-color: #007bff;
}

.reset-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #d48521;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.reset-btn:hover {
    background: red;
}

.reset-password-icon {
    position: absolute;
    right: 10px;
    top: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
} 

.reset-password-icon:hover {
    color: #0056b3;
}
