.View-all-container {
margin-left: 20px;
margin-bottom: 20px;
}
.View-all-container h3 {
  text-align: left;
  margin-left: 20px; 
  color: #2c3e50;     
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 140px;
  background-color: aliceblue;
  text-align: center;
  margin-bottom: 20px;
}

.search-container h4 {
  color: #34495e;
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: bold;

}

.search-container input[type="text"] {
  padding: 12px 18px;
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 16px;
  width: 350px;
  box-sizing: border-box;
  outline: none;
}

.search-container input[type="text"]::placeholder {
  color: #7f8c8d;
}

.search-container input[type="text"]:focus {
  border-color: #5dade2;
  box-shadow: 0 0 5px rgba(93, 173, 226, 0.5);
}
