/* Help Center Container */
.help-center-container {
  background-color: #f1f3f6;
width: 100%;
}
.help-content-area {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.help-center-description {
  font-size: 14px;
  line-height: 1.5;
  color: #878787;
  max-width: 700px;
  margin-bottom: 20px;
}

.help-center-title {
  font-size: 18px;
  font-weight: 600;
  font-family: math;
  margin-bottom: 13px;
  color: #212121;
}


.help-breadcrumb {
  background-color: #fff;
  padding: 12px;
  width: 57%
}

.help-breadcrumb span {
  color: #878787;
  font-size: 16px;
}

 .login-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.login-illustration {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.login-prompt p {
  font-size: 16px;
  color: #212121;
  margin-bottom: 20px;
}

.login-button {
  background-color: #fb641b;
  color: #fff;
  padding: 10px 40px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.login-button:hover {
  background-color: #fa5600;
}

.help-order-list-section {
     background-color: #fff;
    padding: 12px;
    width: 57%;
    margin-left: 0%;
    margin-top: 6px;
}

.help-order-list-section h3 {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
  color: #4a4646;
}

.help-order-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 8px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;

}

.help-order-item-link:hover {
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
 
}

.help-order-item-link {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #eeecec
}

.help-order-item {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.help-order-img {
  width: 100px;
  height: 90px;
  object-fit: contain;
  border-radius: 4px;
  display: block;
  margin-top: 1%;
}

.help-order-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.help-order-details {
  margin-top: 2%;
}

.help-order-details h4 {
  margin: 0;
  font-size: 12px;
  color: #545050;
}
.view-more {
  background: #2874f0;
  color: white;
  padding: 8px 16px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto 0;
  width: fit-content;
  cursor: pointer;
}
