.breadcrumb {
  font-size: 16px;
  color: #555;
  margin: 20px 0;
  margin-left: 29px;
}

.breadcrumb a {
  text-decoration: none;
  color: #4b0082;
  font-weight: bold;
}

.breadcrumb a:hover {
  color: #36006e;
}

.breadcrumb span {
  color: #555;
}

/* Responsive styles for screens <= 768px */
@media (max-width: 768px) {
  .breadcrumb {
    font-size: 14px;      
    margin: 10px 0;        
    margin-left: 15px;     
  }

  .breadcrumb a {
    font-weight: 600;     
  }
}
