
.chatbot-popup{
    width: 420px;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),0 32px 64px -48px rgba(0,0,0,0.5);

}
.chatbot-popup .chatbot-header{
    display: flex;
    padding: 15px 22px;
    align-items: center;
    justify-content: space-between;
    background: #6d4fc2;
}
.chatbot-header .chatbot-header-info{
    display: flex;
    gap: 10px;
    align-items: center;

}
.chatbot-header-info svg{
    height: 35px;
    width: 35px;
    padding: 6px;
    flex-shrink: 0;
    fill: #6d4fc2;;
    background: #fff;
    border-radius: 50%;
}
.chatbot-header-info .chatbot-logo-text{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
}
chat-form button {
  background-color: #593bab;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-form button:hover {
  background-color: #422c85;
}
.chatbot-chat-body{
    height: 460px;
    overflow: auto;
    padding: 25px 22px;
}
.chatbot-chat-body .message{
    display: flex;
    gap: 11px;
    align-items: center;
}
.chatbot-chat-body .bot-message svg{
   height: 35px;
    width: 35px;
    padding: 6px;
    flex-shrink: 0;
    fill: #fff;
    margin-bottom: 2px;
    align-self: flex-end;
    background: #6d4fc2;
    border-radius: 50%;
}
.chatbot-chat-body .message .chatbot-message-text{
    padding: 12px 16px;
    max-width: 75%;
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 0.9rem;
}
.chatbot-chat-body .bot-message .chatbot-message-text{
    background: #6d4fc2;
    border-radius: 13px 13px 13px 3px;
}

.chatbot-chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;
}
.chatbot-chat-body .user-message .chatbot-message-text{
    background: #6d4fc2;
    border-radius: 13px 13px 13px 3px;
}